
            <div class="background-image">
                <img src="images/background-image1.jpg" alt="Birthday Image">
            </div>



<!-- Welcome Message -->
<div class="welcome">
    <h2>Happy 21st Birthday Caitlin!!</h2>
</div>

<!-- Birthday Message -->
<div class="birthday-message">
    <p>
        
    I know you like cards, but this year, for your special day, I wanted to do something different and create this website just for you.
    Turning 21 is a significant milestone. It marks the start of us being only 5 years apart again!
    I hope this year brings you lots of joy, new adventures, and everything you've been wishing for.
    Happy Birthday!
        <br>
       
        ps you can mute the music lol,
        <br>
        Love Jack
    </p>
</div>




<!-- Polaroid Title -->
<div class="polaroid-title">
    <h2>Memorable Moments</h2>
    <p style="color: #666; font-size: 16px; text-align: center;">
    <b>These are just a few of my favourite memories...</b>
  </p>
    
</div>


<!-- Polaroid Pictures Section -->
              <div class="polaroid-wrapper">
                <div class="polaroid-container">
                    <div class="polaroid">
                        <img src="images/Me_Cailtin.jpg" alt="Me and Caitlin">
                        <div class="caption">Derry vs Cork</div>
                    </div>
                    <div class="polaroid">
                        <img src="images/Caitlin3.jpg" alt="Me and Caitlin 2">
                        <div class="caption">Farnham Estate</div>
                    </div>
                    <div class="polaroid">
                        <img src="images/Skiing2.jpg" alt="Skiing">
                        <div class="caption">Skiing</div>
                    </div>
                    <div class="polaroid">
                        <img src="images/Me_Caitlin4.JPEG" alt="Skiing">
                        <div class="caption">Wedding</div>
                    </div>
                    </div>

                    <div class="grey-line2"></div>


<div class="present-title">
    <h2>Okayy now lets reveal your Presents </h2>
    
</div>

<!-- Reveal Presents Section -->
<div id="reveal-presents-section" class="reveal-presents">
    <button onclick="revealPresents()">Click to Reveal Your Presents!</button>
    <div id="presents" class="hidden">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h1>🎁</h1>
                </div>
                <div class="flip-card-back">
                    <img src="images/campervan.jpg" alt="Present 2 Image" class="present-image">
                    <a href="@Url.Action("Present1", "Home")" class="present-link">Campervan Insurance</a>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h1>🎁</h1>
                </div>
                <div class="flip-card-back">
                    <img src="images/belfastlodge.jpg" alt="Present 1 Image" class="present-image">
                    <a href="@Url.Action("Present2", "Home")" class="present-link">Belfast Lodge</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Embed YouTube Video (Hidden) -->
<div class="hidden-video">
  <iframe width="1" height="1" src="https://www.youtube.com/embed/QiiIcwh6xIU?si=4pci2EvAVc-_J6Qr&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<script>
  let clickCount = 0;

  function revealPresents() {
    const presentsDiv = document.getElementById('presents');
    presentsDiv.classList.remove('hidden');
    
    const cards = document.querySelectorAll('.flip-card');
    if (clickCount < cards.length) {
      cards[clickCount].classList.add('flipped');
      clickCount++;
    }
  }
</script>



<script>
let clickCount = 0;

function revealPresents() {
  const presentsDiv = document.getElementById('presents');
  presentsDiv.classList.remove('hidden');
  
  const cards = document.querySelectorAll('.flip-card');
  if (clickCount < cards.length) {
    cards[clickCount].classList.add('flipped');
    clickCount++;
  }
}



</script>
