@{
    ViewData["Title"] = "Photos";
}

<!-- Polaroid Title -->
<div class="polaroid-title">
    <h2>Memorable Moments</h2>
    <p>These are just a few of my favourite memories...</p>
</div>


<!-- Polaroid Pictures Section -->
<div class="polaroid-wrapper">
    <div class="polaroid-container">
        <div class="polaroid">
            <img src="~/images/Photo2.jpg" alt="Me and Caitlin">
            <div class="caption">Second Photo Toether</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Caitlin3.jpg" alt="Me and Caitlin 2">
            <div class="caption">Farnham Estate</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Skiing2.jpg" alt="Skiing">
            <div class="caption">Skiing</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Me_Caitlin4.JPEG" alt="Wedding">
            <div class="caption">Wedding</div>
        </div>
    </div>
    <div class="polaroid-container">
        <div class="polaroid">
            <img src="~/images/Photo1.jpg" alt="Photo 5">
            <div class="caption">Italy</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo3.jpeg" alt="Photo 6">
            <div class="caption">Rock Farm</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo4.jpeg" alt="Photo 7">
            <div class="caption">Mourne Luxury Glamping</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo11.jpg" alt="Photo 8">
            <div class="caption">Farnham Estate</div>
        </div>
    </div>
    <div class="polaroid-container">
        <div class="polaroid">
            <img src="~/images/Photo5.jpg" alt="Photo 9">
            <div class="caption">Rebecca's House</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo12.jpg" alt="Photo 10">
            <div class="caption">Canoing in Rvier Band</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo6.jpeg" alt="Photo 11">
            <div class="caption">Glenariff Forest</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo17.jpg" alt="Photo 12">
            <div class="caption">Skiing</div>
        </div>
    </div>
    <div class="polaroid-container">
        <div class="polaroid">
            <img src="~/images/Photo13.jpg" alt="Photo 13">
            <div class="caption">North West 200</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo7.jpeg" alt="Photo 14">
            <div class="caption">Italy</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo15.jpg" alt="Photo 15">
            <div class="caption">Skiing</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo8.jpeg" alt="Photo 16">
            <div class="caption">Birthday Picnic</div>
        </div>
    </div>
    <div class="polaroid-container">
        <div class="polaroid">
            <img src="~/images/Photo19.jpg" alt="Photo 17">
            <div class="caption">Wedding</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo18.jpg" alt="Photo 18">
            <div class="caption">Derry Wiining Ulster</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo14.jpeg" alt="Photo 19">
            <div class="caption">Crindle Stables</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo20.jpg" alt="Photo 20">
            <div class="caption">Derry Vs Cork</div>
        </div>
    </div>
    <div class="polaroid-container">
        <div class="polaroid">
            <img src="~/images/Photo23.png" alt="Photo 21">
            <div class="caption">Europa Hotel</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo9.jpg" alt="Photo 22">
            <div class="caption">Rossharbour</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo21.jpg" alt="Photo 23">
            <div class="caption">Skiing</div>
        </div>
        <div class="polaroid">
            <img src="~/images/Photo22.jpeg" alt="Photo 24">
            <div class="caption">Your House</div>
        </div>
    </div>
</div>




