@{
    ViewData["Title"] = "Present 2";
}

<div class="background-image">
    <img src="~/images/campervan.jpg" alt="Birthday Image" />
</div>

<div class="grey-line2"></div>

<!-- Polaroid Title -->
<div class="polaroid-title">
    <h2>Campervan Adventure</h2>
    <p>28th July</p>
</div>

<!-- Big Reveal Section -->
<div class="big-reveal">
    <h2 class="reveal-text">Guess What?</h2>
    <div class="reveal-content">
        <h1 class="insured-text">We're Insured!</h1>
        <p class="insured-details">Our campervan adventure is ready to roll with full insurance coverage.</p>
        <img src="~/images/insurance_certificate.png" alt="Insurance Certificate" class="insurance-img">
    </div>
</div>

